include components/_meta

+meta() 
body
    +content(data.content)
    .events
        .title="THIS MONTH'S MOST ANTICIPATED EVENTS"
        each event in data.events 
            +event(event)
    +footer(data.footer)
    