include components/_meta

+meta() 
body
    +slider()
    +hero(data.hero)
    +card(data.card)
    .events
        .title="THIS MONTH'S MOST ANTICIPATED EVENTS"
        each event in data.events 
            +event(event)
    +footer(data.footer)
    +scripts()

    