include components/_meta

+meta() 
body#body
    +header(data.header)
    +slider(data.slider)
    +hero(data.hero)
    +card(data.card)
    +events(data.secEvents)
    +footer(data.footer)
    +form(data.form)
    +scripts()

    