@import "components/variables","components/mixins","components/footer","components/event","components/card","components/hero","components/slider";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.wrapper{
    max-width: $maxWith;
    margin: 0 auto;
}

.bg-gray{
    background-color: $bg-gray;
}

.events{
    // display: flex;
    
    .title{
        text-align: center;
        padding: size(2.5) 0;
    }
}