.card{
    padding: size(3) size(2);
    
    &__seccion{
        padding: size(2) 0;
        text-align: center;
        @include montBold();
    }

    &__title{
        padding: size(1) 0;
        color: $gray;
        @include playRegular();
    }

    &__description{
        padding: size(2) 0;
    }

    &__btn{
        color: $red;
        border: 2px solid $red;
        padding: size(1) size(2);
        width: 50%;
        margin-bottom: size(2);
        background: transparent;
        @include montSemi();
        font-size: rem(fontSize(2));
    }

    &__img{
        width: 100%;
    }

    
}
@media ($mediaMin) {
    .card{
        display: flex;
        align-items: center;
        
        &__content{
            width: 100%;
            padding: 0 size(3);
        }
    }
}

@media ($mediaLarge) {
    .card{
        display: flex;
        align-items: flex-start;
        padding: size(8) 0;

        &__seccion{
            padding-bottom:size(2);

        }

        &__title{
            font-size: ptToRem(25);
            padding-bottom:size(2);

        }
        
        &__img{
            width: 620px;
        }

        &__description{
            padding-bottom:size(6);
            font-size: ptToRem(11);

        }

        &__btn{
            margin: 0;
        }

        .text__center{
            text-align: inherit;
        }
    }
}


