.event{
    display: flex;
    justify-content: center;
    margin-bottom: size(2);
    position: relative;

    &__img{
        width: 100%;
    }

    &__date{
        margin-top: 1px;
        width: 95px;
        height: 55px;
        background: $black;
        color: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
    }

    .day{
        font-size: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }
    .month{
        width: 100%;
        font-size: 14px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        display: flex;
        align-items: center;
    }
}