.footer{
    padding: size(4) size(2) size(12);

    &__content{
        text-align: center;
    }

    &__text{
        margin-bottom: size(1);
    }

    @media ($mediaLarge) {
        
        &__content{
            display: flex;
            justify-content: space-between;
        }
    }
}