.hero{
    background-color: $bg-black;
    text-align: center;
    padding: 0 size(3) size(2);
    color: $white;

    &__content{
        background-color: $bg-black;
    }

    &__description{
        font-size: ptToRem(8);

    }

    &__title{
        padding: size(2) 0;
        border-top: 2px solid $white;
        white-space: pre-wrap;
        font-size: ptToRem(20);

        @include playRegular();

        .hero__subtitle{
            display: block;
            font-size: ptToRem(15);
            @include playRegular();

        }
    }
}

@media ($mediaLarge) {
    .hero{

        height: 210px;

        &__padding{
            padding: 0 size(10);
        }

        &__title{
            font-size: ptToRem(40);
            border-top: 4px solid $white;
            padding-top: size(3);

            .hero__subtitle{
                font-size: ptToRem(30);
                padding-bottom: size(3);
            }
        }

        &__description{
            font-size: ptToRem(12);
        }

        &__content{
            padding: 0 size(12);
            transform: translateY(-180px);
        }
    }
  }