$red:#E21F25;
$white:#ffffff;
$black:#282930;
$gray:#979Fa4;
$bg-gray:#F1F2F2;
$bg-black:#000000;
$mediaMin: "min-width:576px";
$mediaLarge: "min-width:1200px";
$maxWith: 1080px;


@font-face {
    font-family: 'playfair-regular';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') ;
  }

@font-face {
  font-family: 'playfair-semibold';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf') ;
}

@font-face {
  font-family: 'playfair-bold';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') ;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/Montserrat_Font/Montserrat-Regular.ttf') ;
  }
  
@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/Montserrat_Font/Montserrat-Medium.ttf') ;
}

@font-face {
  font-family: 'montserrat-semibold';
  src: url('../fonts/Montserrat_Font/Montserrat-SemiBold.ttf') ;
  }

@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/Montserrat_Font/Montserrat-Bold.ttf') ;
}

