mixin hero({title, subtitle, description})
    .hero
        .hero__content.wrapper   
            h1.hero__title=title
                span.hero__subtitle=subtitle
            p.hero__description=description