mixin meta()
    include _header
    include _slider
    include _hero
    include _card
    include _event
    include _footer
    include _scripts

    doctype html
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
            link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
            link(rel="manifest" href="/site.webmanifest")
            link(rel="stylesheet", href="./css/styles.css")
            title Test-Tambourine
            meta(name="description" content="Is a test page for Tamburine Company")
            meta(name="keywords" content="test, Front-end, Tambourine")
            meta(name="author" content="Oscar Larrotta")