mixin slider()
    include _svgs
    .slider     
        .slide  
            img(src="/images/Slider1.jpg", alt="")
        .slide  
            img(src="/images/Slider2.jpg", alt="")
        .slide      
            img(src="/images/Slider3.jpg", alt="")
        .slide  
            img(src="/images/Slider4.jpg", alt="")
        button.btn.btn__prev
            +svgs('arrow-prev')
        button.btn.btn__next
            +svgs('arrow-next')

        
