mixin slider({images})
    include _svgs
    .slider
        each image in images     
            .slide  
                img(src=image.url, alt="image-slider")
        button.btn.btn__prev
            +svgs('arrow-prev')
        button.btn.btn__next
            +svgs('arrow-next')

        
